.admin{

padding:40px;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

table,th,td{

border:1px solid #ddd;

}

th{

background:#2563eb;

color:white;

padding:12px;

}

td{

padding:10px;

}